html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
strong,
b,
i,
sup,
ol,
ul,
li,
pre,
code,
form,
label,
input,
textarea,
button,
hr,
figure,
figcaption,
header,
footer,
main,
section,
nav,
article,
aside {
  margin: 0;
  padding: 0;
  outline: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

header,
footer,
main,
section,
nav,
article,
aside {
  display: block;
}

button {
  display: inline-block;
  line-height: normal;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

input {
  line-height: normal;
  -webkit-appearance: none;
}

a {
  -webkit-appearance: none;
}

img {
  display: inline-block;
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

b,
strong {
  font-weight: 700;
}

i {
  font-style: italic;
}

sup {
  font-size: .85em;
  position: relative;
  bottom: .5em;
}

code {
  display: inline-block;
}

html,
body {
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

:root {
  --wrap-width: 78.75rem;
  --row-margin-out: -0.9375rem;
  --column-padding: 0.9375rem;
  --txt-color: #393939;
  --txt-font-family: 'Courier New', sans-serif;
  --menu-hover: #CDA177;
  --menu-current: #CDA177;
  --menu-icon-color: #CDA177;
  --border-color: #E5E5E5;
  --mob-menu-color: rgba(10, 9, 13, 0.5);
  --nav-font-family: 'Montserrat', sans-serif;
}

.nxt-menu-close-btn:after, .nxt-menu-close-btn:before, .paginate__prev::after, .paginate__next::after, .list li:before, .article ul li:before {
  display: block;
  content: "";
  box-sizing: border-box;
}

.img-icon__ico span, .main__full-page {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.img-icon-btn__img, .img-icon__ico span {
  font-size: 0;
  text-align: center;
}

.img-icon-btn__img::before, .img-icon__ico span::before {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}

.img-icon-btn__img img, .img-icon__ico span img {
  vertical-align: middle;
}

figure img, .img-icon-btn__img img, .img-icon__ico img, .article img {
  width: 100%;
  height: auto;
}

.btn, .arrow-btn, .plus-btn, .img-icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
  border: none;
  background: none;
  user-select: none;
  position: relative;
  transition: .21s;
}

.btn span, .arrow-btn span, .plus-btn span, .img-icon-btn span {
  display: block;
  width: 100%;
}

.arrow-btn:after, .plus-btn:after, .v-btn::after,
.f-btn::after,
.o-btn::after,
.t-btn::after, .img-icon-btn__img {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
}

.nxt-open-menu-btn, .nxt-menu-close-btn, .v-btn,
.f-btn,
.o-btn,
.t-btn {
  display: inline-block;
  background: none;
  border: none;
  -webkit-appearance: none;
  transition: .21s;
  position: relative;
}

.link, .green-link {
  display: inline-block;
  line-height: normal;
  text-decoration: none;
  transition: .21s;
}

.icon-link {
  display: inline-block;
  line-height: normal;
  position: relative;
  text-decoration: none;
  transition: .21s;
}

.icon-link::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
}

.icon, .nxt-menu-icon {
  display: inline-block;
  position: relative;
  transition: .21s;
}

.icon::before, .nxt-menu-icon::before,
.icon svg,
.nxt-menu-icon svg {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  transition: .21s;
}

.tile-wrap > div {
  display: flex;
}

.tile {
  flex: 1 1 100%;
  max-width: 100%;
}

html,
body {
  font-size: 16px;
  font-family: var(--txt-font-family);
  color: var(--txt-color);
  background: #ffffff;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 300px;
}

body > svg {
  width: 0;
  height: 0;
}

a:hover {
  text-decoration: none;
}

hr {
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid #aaaaaa;
}

figcaption {
  font-size: 0.75em;
  color: #aaaaaa;
  margin-top: 1.16667em;
  line-height: 1.33333;
}

/* buttons */
.nxt-open-menu-btn {
  display: none;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 50%;
  z-index: 2;
  margin-top: -12px;
}

.nxt-open-menu-btn span {
  height: 2px;
  background: #000000;
  position: absolute;
  left: 0;
  width: 100%;
  border-radius: 2px;
  transition: .21s;
}

.nxt-open-menu-btn span:first-child {
  top: 5px;
}

.nxt-open-menu-btn span:last-child {
  bottom: 5px;
}

.nxt-open-menu-btn span:nth-child(2),
.nxt-open-menu-btn span:nth-child(3) {
  top: 11px;
}

.nxt-open-menu-btn.opened span:first-child,
.nxt-open-menu-btn.opened span:last-child {
  opacity: 0;
}

.nxt-open-menu-btn.opened span:nth-child(2) {
  transform: rotate(-45deg);
}

.nxt-open-menu-btn.opened span:nth-child(3) {
  transform: rotate(45deg);
}

@media (max-width: 1200px) {
  .nxt-open-menu-btn {
    display: block;
  }
}

.nxt-menu-close-btn {
  display: none;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 24px;
}

.nxt-menu-close-btn:after, .nxt-menu-close-btn:before {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #D91E1E;
  left: 0;
  top: 50%;
  margin-top: -1px;
}

.nxt-menu-close-btn:after {
  transform: rotate(-45deg);
}

.nxt-menu-close-btn:before {
  transform: rotate(45deg);
}

@media (max-width: 1200px) {
  .nxt-menu-close-btn {
    display: block;
  }
}

.btn {
  width: 150px;
  height: 43px;
  color: #FFF;
  background: #000000;
  padding: 0 15px;
  letter-spacing: 1px;
}

.arrow-btn {
  height: 43px;
  color: #FFF;
  padding: 0 15px;
  padding-right: 43px;
  background: #000000;
  letter-spacing: 1px;
}

.arrow-btn:after {
  width: 15px;
  height: 16px;
  right: 15px;
  margin-top: -8px;
}

.plus-btn {
  border-radius: 32px;
  height: 43px;
  color: #FFF;
  background: #000000;
  padding: 0 15px;
  padding-left: 55px;
  letter-spacing: 1px;
}

.plus-btn:after {
  width: 32px;
  height: 32px;
  left: 6px;
  margin-top: -16px;
}

.v-btn,
.f-btn,
.o-btn,
.t-btn {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background: #c4c4c4;
  border: 3px solid #000000;
}

.v-btn::after,
.f-btn::after,
.o-btn::after,
.t-btn::after {
  left: 50%;
}

.v-btn:hover,
.f-btn:hover,
.o-btn:hover,
.t-btn:hover {
  opacity: .75;
}

.v-btn::after {
  width: 81.81818%;
  height: 72.72727%;
  margin: -31.81818% 0 0 -43.18182%;
}

.f-btn::after {
  width: 56.81818%;
  height: 56.81818%;
  margin: -27.27273% 0 0 -29.54545%;
}

.o-btn::after {
  width: 50%;
  height: 77.27273%;
  margin: -38.63636% 0 0 -25%;
}

.t-btn::after {
  width: 72.72727%;
  height: 59.09091%;
  margin: -29.54545% 0 0 -36.36364%;
}

.sc {
  display: flex;
  justify-content: center;
  list-style: none;
}

.sc__item {
  flex: 0 1 auto;
  padding: 0 5px;
}

.img-icon-btn {
  font-size: 18px;
  height: 3.33333em;
  border-radius: 0.44444em;
  padding: 0.11111em 1.77778em 0 4em;
  text-align: left;
  background: #ffbf00;
  color: #715502;
}

.img-icon-btn__img {
  font-size: inherit;
  left: 2.05556em;
  width: 1.11111em !important;
  height: 1.66667em;
  margin-top: -0.88889em;
}

.img-icon-btn__img img {
  max-height: 100%;
}

.img-icon-btn:hover {
  opacity: .7;
}

.link {
  color: #0000ff;
  border-bottom: 1px solid #0000ff;
}

.link:hover {
  border-bottom-color: transparent;
}

.green-link {
  color: #00ff00;
  border-bottom: 1px solid #00ff00;
}

.green-link_dash {
  border-bottom-style: dashed;
}

.green-link_rev {
  border-bottom-color: transparent;
}

.green-link_rev:hover {
  border-bottom-color: #00ff00;
}

.icon-link {
  border-bottom: 1px solid #0000ff;
  margin-left: 48px;
}

.icon-link::before {
  width: 35px;
  height: 30px;
  margin-top: -15px;
  left: -48px;
}

.icon-link:hover {
  border-bottom-color: transparent;
}

.paginate {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: -0.25em;
  margin-top: 1.875em;
}

.paginate li {
  flex: 0 1 auto;
  padding: 0 0.25em;
}

.paginate__a, .paginate__curr, .paginate__dots {
  display: block;
  font-size: 1.25em;
  min-width: 1.8em;
  height: 1.8em;
  padding: 0 0.6em;
  line-height: 1.7em;
  font-weight: 700;
  color: #aaaaaa;
  border: 1px solid #aaaaaa;
  text-align: center;
  text-decoration: none;
}

.paginate__a {
  transition: .21s;
}

.paginate__a:hover {
  color: #000;
  border-color: #000;
}

.paginate__curr {
  color: #000;
  border-color: #000;
  cursor: not-allowed;
}

.paginate__dots {
  border: none;
}

.paginate__prev, .paginate__next {
  display: block;
  width: 40px;
  height: 40px;
  background: #000000;
  margin: 0 7px;
  position: relative;
  transition: .21s;
}

.paginate__prev::after, .paginate__next::after {
  width: 10px;
  height: 10px;
  border: 2px solid transparent;
  border-top-color: #FFF;
  border-left-color: #FFF;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -7px;
}

.paginate__prev_disabled, .paginate__next_disabled {
  opacity: .2;
}

.paginate__prev:hover, .paginate__next:hover {
  opacity: .7;
}

.paginate__prev::after {
  margin-left: -3px;
  transform: rotate(-45deg);
}

.paginate__next::after {
  margin-left: -10px;
  transform: rotate(135deg);
}

/* icons */
.icon {
  min-height: 21px;
  padding-left: 30px;
}

.icon:before {
  width: 25px;
  height: 21px;
  top: 0;
}

.nxt-menu-icon {
  width: 1em;
  height: 1em;
}

.nxt-menu-icon svg {
  fill: var(--menu-icon-color);
}

.nxt-menu-icon::before {
  display: none;
}

.img-icon {
  position: relative;
  padding: 0.625em 0 0.625em 2.8125em;
}

.img-icon__ico {
  display: block;
  position: absolute;
  left: 0;
  top: 0.0625em;
  width: 2em;
  height: 2em;
}

.img-icon__ico span {
  display: block;
}

.img-icon__ico img {
  max-height: 100%;
}

.nxt-wrp {
  margin: 0 auto;
  width: 100%;
  max-width: var(--wrap-width);
  padding: 0 var(--column-padding);
}

@media (max-width: 1000px) {
  .nxt-wrp {
    padding: 0 15px;
  }
}

.row {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  margin: 0 var(--row-margin-out);
}

.row_nw {
  flex-wrap: nowrap;
}

.row_column {
  flex-direction: column;
}

.row_col-center {
  justify-content: center;
}

.row_col-between {
  justify-content: space-between;
}

.row_col-middle {
  align-items: center;
}

.row_col-bottom {
  align-items: flex-end;
}

.row_gap60 {
  margin: 0 -1.875em;
}

@media (max-width: 1200px) {
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .row > [class*="col"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  .row-md_col-center {
    justify-content: center;
  }
}

@media (min-width: 1001px) {
  .row_md-x-nw {
    flex-wrap: nowrap;
  }
}

@media (max-width: 1000px) {
  .row_sm-2cols .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-sm_col-center {
    justify-content: center;
  }
}

@media (min-width: 751px) {
  .row_sm-x-nw {
    flex-wrap: nowrap;
  }
}

.col {
  flex: 0 1 auto;
  max-width: none;
  padding: 0 var(--column-padding);
}

.col-fill {
  flex: 1 1 100%;
  max-width: none;
  padding: 0 var(--column-padding);
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
  padding: 0 var(--column-padding);
}

.row_gap60 > .col-1 {
  padding: 0 1.875rem;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  padding: 0 var(--column-padding);
}

.row_gap60 > .col-2 {
  padding: 0 1.875rem;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 var(--column-padding);
}

.row_gap60 > .col-3 {
  padding: 0 1.875rem;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding: 0 var(--column-padding);
}

.row_gap60 > .col-4 {
  padding: 0 1.875rem;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
  padding: 0 var(--column-padding);
}

.row_gap60 > .col-5 {
  padding: 0 1.875rem;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 var(--column-padding);
}

.row_gap60 > .col-6 {
  padding: 0 1.875rem;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  padding: 0 var(--column-padding);
}

.row_gap60 > .col-7 {
  padding: 0 1.875rem;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  padding: 0 var(--column-padding);
}

.row_gap60 > .col-8 {
  padding: 0 1.875rem;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  padding: 0 var(--column-padding);
}

.row_gap60 > .col-9 {
  padding: 0 1.875rem;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
  padding: 0 var(--column-padding);
}

.row_gap60 > .col-10 {
  padding: 0 1.875rem;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
  padding: 0 var(--column-padding);
}

.row_gap60 > .col-11 {
  padding: 0 1.875rem;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 var(--column-padding);
  margin-left: 0;
  margin-right: 0;
}

.row_gap60 > .col-12 {
  padding: 0 1.875rem;
}

.col-offset-12 {
  margin-left: 100%;
}

.col_center {
  margin-left: auto;
  margin-right: auto;
}

.col_middle {
  align-self: center;
}

.col_right {
  margin-left: auto;
}

.col_grow {
  flex-grow: 1;
}

.col_first {
  order: -1;
}

@media (max-width: 1600px) {
  .lg-col {
    flex: 0 1 auto;
    max-width: none;
    padding: 0 var(--column-padding);
  }
  .lg-col-fill {
    flex: 1 1 100%;
    max-width: none;
    padding: 0 var(--column-padding);
  }
  .lg-col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .lg-col-1 {
    padding: 0 1.875rem;
  }
  .lg-col-offset-1 {
    margin-left: 8.33333%;
  }
  .lg-col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .lg-col-2 {
    padding: 0 1.875rem;
  }
  .lg-col-offset-2 {
    margin-left: 16.66667%;
  }
  .lg-col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .lg-col-3 {
    padding: 0 1.875rem;
  }
  .lg-col-offset-3 {
    margin-left: 25%;
  }
  .lg-col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .lg-col-4 {
    padding: 0 1.875rem;
  }
  .lg-col-offset-4 {
    margin-left: 33.33333%;
  }
  .lg-col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .lg-col-5 {
    padding: 0 1.875rem;
  }
  .lg-col-offset-5 {
    margin-left: 41.66667%;
  }
  .lg-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .lg-col-6 {
    padding: 0 1.875rem;
  }
  .lg-col-offset-6 {
    margin-left: 50%;
  }
  .lg-col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .lg-col-7 {
    padding: 0 1.875rem;
  }
  .lg-col-offset-7 {
    margin-left: 58.33333%;
  }
  .lg-col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .lg-col-8 {
    padding: 0 1.875rem;
  }
  .lg-col-offset-8 {
    margin-left: 66.66667%;
  }
  .lg-col-9 {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .lg-col-9 {
    padding: 0 1.875rem;
  }
  .lg-col-offset-9 {
    margin-left: 75%;
  }
  .lg-col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .lg-col-10 {
    padding: 0 1.875rem;
  }
  .lg-col-offset-10 {
    margin-left: 83.33333%;
  }
  .lg-col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .lg-col-11 {
    padding: 0 1.875rem;
  }
  .lg-col-offset-11 {
    margin-left: 91.66667%;
  }
  .lg-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 var(--column-padding);
    margin-left: 0;
    margin-right: 0;
  }
  .row_gap60 > .lg-col-12 {
    padding: 0 1.875rem;
  }
  .lg-col-offset-12 {
    margin-left: 100%;
  }
  .lg-col_center {
    margin-left: auto;
    margin-right: auto;
  }
  .lg-col_middle {
    align-self: center;
  }
  .lg-col_right {
    margin-left: auto;
  }
  .lg-col_grow {
    flex-grow: 1;
  }
  .lg-col_first {
    order: -1;
  }
}

@media (max-width: 1200px) {
  .md-row-col-fw > [class*="col"] {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .md-col {
    flex: 0 1 auto;
    max-width: none;
    padding: 0 var(--column-padding);
  }
  .md-col-fill {
    flex: 1 1 100%;
    max-width: none;
    padding: 0 var(--column-padding);
  }
  .md-col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .md-col-1 {
    padding: 0 1.875rem;
  }
  .md-col-offset-1 {
    margin-left: 8.33333%;
  }
  .md-col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .md-col-2 {
    padding: 0 1.875rem;
  }
  .md-col-offset-2 {
    margin-left: 16.66667%;
  }
  .md-col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .md-col-3 {
    padding: 0 1.875rem;
  }
  .md-col-offset-3 {
    margin-left: 25%;
  }
  .md-col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .md-col-4 {
    padding: 0 1.875rem;
  }
  .md-col-offset-4 {
    margin-left: 33.33333%;
  }
  .md-col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .md-col-5 {
    padding: 0 1.875rem;
  }
  .md-col-offset-5 {
    margin-left: 41.66667%;
  }
  .md-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .md-col-6 {
    padding: 0 1.875rem;
  }
  .md-col-offset-6 {
    margin-left: 50%;
  }
  .md-col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .md-col-7 {
    padding: 0 1.875rem;
  }
  .md-col-offset-7 {
    margin-left: 58.33333%;
  }
  .md-col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .md-col-8 {
    padding: 0 1.875rem;
  }
  .md-col-offset-8 {
    margin-left: 66.66667%;
  }
  .md-col-9 {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .md-col-9 {
    padding: 0 1.875rem;
  }
  .md-col-offset-9 {
    margin-left: 75%;
  }
  .md-col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .md-col-10 {
    padding: 0 1.875rem;
  }
  .md-col-offset-10 {
    margin-left: 83.33333%;
  }
  .md-col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .md-col-11 {
    padding: 0 1.875rem;
  }
  .md-col-offset-11 {
    margin-left: 91.66667%;
  }
  .md-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 var(--column-padding);
    margin-left: 0;
    margin-right: 0;
  }
  .row_gap60 > .md-col-12 {
    padding: 0 1.875rem;
  }
  .md-col-offset-12 {
    margin-left: 100%;
  }
  .md-col_center {
    margin-left: auto;
    margin-right: auto;
  }
  .md-col_middle {
    align-self: center;
  }
  .md-col_right {
    margin-left: auto;
  }
  .md-col_grow {
    flex-grow: 1;
  }
  .md-col_first {
    order: -1;
  }
}

@media (max-width: 1000px) {
  .sm-row-col-fw > [class*="col"] {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .sm-col {
    flex: 0 1 auto;
    max-width: none;
    padding: 0 var(--column-padding);
  }
  .sm-col-fill {
    flex: 1 1 100%;
    max-width: none;
    padding: 0 var(--column-padding);
  }
  .sm-col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .sm-col-1 {
    padding: 0 1.875rem;
  }
  .sm-col-offset-1 {
    margin-left: 8.33333%;
  }
  .sm-col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .sm-col-2 {
    padding: 0 1.875rem;
  }
  .sm-col-offset-2 {
    margin-left: 16.66667%;
  }
  .sm-col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .sm-col-3 {
    padding: 0 1.875rem;
  }
  .sm-col-offset-3 {
    margin-left: 25%;
  }
  .sm-col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .sm-col-4 {
    padding: 0 1.875rem;
  }
  .sm-col-offset-4 {
    margin-left: 33.33333%;
  }
  .sm-col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .sm-col-5 {
    padding: 0 1.875rem;
  }
  .sm-col-offset-5 {
    margin-left: 41.66667%;
  }
  .sm-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .sm-col-6 {
    padding: 0 1.875rem;
  }
  .sm-col-offset-6 {
    margin-left: 50%;
  }
  .sm-col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .sm-col-7 {
    padding: 0 1.875rem;
  }
  .sm-col-offset-7 {
    margin-left: 58.33333%;
  }
  .sm-col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .sm-col-8 {
    padding: 0 1.875rem;
  }
  .sm-col-offset-8 {
    margin-left: 66.66667%;
  }
  .sm-col-9 {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .sm-col-9 {
    padding: 0 1.875rem;
  }
  .sm-col-offset-9 {
    margin-left: 75%;
  }
  .sm-col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .sm-col-10 {
    padding: 0 1.875rem;
  }
  .sm-col-offset-10 {
    margin-left: 83.33333%;
  }
  .sm-col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .sm-col-11 {
    padding: 0 1.875rem;
  }
  .sm-col-offset-11 {
    margin-left: 91.66667%;
  }
  .sm-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 var(--column-padding);
    margin-left: 0;
    margin-right: 0;
  }
  .row_gap60 > .sm-col-12 {
    padding: 0 1.875rem;
  }
  .sm-col-offset-12 {
    margin-left: 100%;
  }
  .sm-col_center {
    margin-left: auto;
    margin-right: auto;
  }
  .sm-col_middle {
    align-self: center;
  }
  .sm-col_right {
    margin-left: auto;
  }
  .sm-col_grow {
    flex-grow: 1;
  }
  .sm-col_first {
    order: -1;
  }
}

@media (max-width: 750px) {
  .xs-col {
    flex: 0 1 auto;
    max-width: none;
    padding: 0 var(--column-padding);
  }
  .xs-col-fill {
    flex: 1 1 100%;
    max-width: none;
    padding: 0 var(--column-padding);
  }
  .xs-col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .xs-col-1 {
    padding: 0 1.875rem;
  }
  .xs-col-offset-1 {
    margin-left: 8.33333%;
  }
  .xs-col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .xs-col-2 {
    padding: 0 1.875rem;
  }
  .xs-col-offset-2 {
    margin-left: 16.66667%;
  }
  .xs-col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .xs-col-3 {
    padding: 0 1.875rem;
  }
  .xs-col-offset-3 {
    margin-left: 25%;
  }
  .xs-col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .xs-col-4 {
    padding: 0 1.875rem;
  }
  .xs-col-offset-4 {
    margin-left: 33.33333%;
  }
  .xs-col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .xs-col-5 {
    padding: 0 1.875rem;
  }
  .xs-col-offset-5 {
    margin-left: 41.66667%;
  }
  .xs-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .xs-col-6 {
    padding: 0 1.875rem;
  }
  .xs-col-offset-6 {
    margin-left: 50%;
  }
  .xs-col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .xs-col-7 {
    padding: 0 1.875rem;
  }
  .xs-col-offset-7 {
    margin-left: 58.33333%;
  }
  .xs-col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .xs-col-8 {
    padding: 0 1.875rem;
  }
  .xs-col-offset-8 {
    margin-left: 66.66667%;
  }
  .xs-col-9 {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .xs-col-9 {
    padding: 0 1.875rem;
  }
  .xs-col-offset-9 {
    margin-left: 75%;
  }
  .xs-col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .xs-col-10 {
    padding: 0 1.875rem;
  }
  .xs-col-offset-10 {
    margin-left: 83.33333%;
  }
  .xs-col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    padding: 0 var(--column-padding);
  }
  .row_gap60 > .xs-col-11 {
    padding: 0 1.875rem;
  }
  .xs-col-offset-11 {
    margin-left: 91.66667%;
  }
  .xs-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 var(--column-padding);
    margin-left: 0;
    margin-right: 0;
  }
  .row_gap60 > .xs-col-12 {
    padding: 0 1.875rem;
  }
  .xs-col-offset-12 {
    margin-left: 100%;
  }
  .xs-col_center {
    margin-left: auto;
    margin-right: auto;
  }
  .xs-col_middle {
    align-self: center;
  }
  .xs-col_right {
    margin-left: auto;
  }
  .xs-col_grow {
    flex-grow: 1;
  }
  .xs-col_first {
    order: -1;
  }
  .row:not(.row_nw):not(.row_xs-2cols) > [class*="col"]:not([class*="xs-col"]) {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .row_xs-2cols .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.nxt-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
  display: flex;
  height: 8.125em;
  align-items: center;
  transition: .5s;
  font-family: var(--nav-font-family);
}

.admin-bar .nxt-header {
  margin-top: 32px;
}

.nxt-header_fixed {
  background: #FFF;
  box-shadow: 0 1px 21px rgba(0, 0, 0, 0.21);
  height: 6.25em;
}

.nxt-header__logo a {
  display: inline-block;
}

.nxt-header__logo img {
  max-width: 12.5em;
}

.nxt-header__row {
  flex-grow: 1;
}

.nxt-header__nav {
  display: flex;
  justify-content: flex-end;
}

.nxt-header__nav_center {
  justify-content: center;
}

@media (min-width: 1201px) {
  .nxt-header {
    transform: translate3d(0, 0, 0);
  }
  .nxt-header_hide {
    transform: translate3d(0, -100%, 0);
    box-shadow: none;
  }
  .nxt-header__menu-tit, .nxt-header__mob-menu-logo, .nxt-header__mob-menu-bloginfo, .nxt-header__mob-nav-bottom {
    display: none;
  }
}

@media (max-width: 1200px) {
  .nxt-header {
    height: 70px;
    top: 0 !important;
  }
  .nxt-header__row {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    overflow: auto;
    background: #FFF;
    transition: .21s;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
  }
  .nxt-header__row.col {
    max-width: 450px;
    padding: 0 24px;
  }
  .nxt-header__row > .row {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 80px 0;
  }
  .nxt-header__row > .row .col {
    flex: 0 1 auto !important;
  }
  .opened .nxt-header__row {
    transform: translateX(0);
  }
  .nxt-header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nxt-header__logo img {
    max-height: 40px;
    width: auto;
  }
  .nxt-header__nav {
    margin-bottom: 50px;
  }
  .nxt-header__nav .nxt-menu {
    flex: 1 1 100%;
  }
  .nxt-header__menu-tit {
    position: absolute;
    left: 24px;
    top: 30px;
    font-size: 18px;
    font-weight: 500;
  }
  .nxt-header__mob-menu-logo {
    text-align: center;
  }
  .nxt-header__mob-menu-logo img {
    width: auto;
    max-height: 48px;
  }
  .nxt-header__mob-menu-bloginfo {
    text-align: center;
    line-height: 1.375;
    margin-top: 6px;
    font-family: var(--txt-font-family);
  }
  .nxt-header__nav-right {
    margin-top: 4px;
  }
  .nxt-header__mob-nav-bottom {
    margin-top: 32px;
  }
  .nxt-header__mob-nav-bottom .nxt-menu__a .nxt-menu-icon {
    font-size: 24px;
  }
}

@media (max-width: 782px) {
  .admin-bar .nxt-header {
    margin-top: 46px;
  }
  .admin-bar .nxt-header__row {
    top: 46px;
  }
}

@media (max-width: 600px) {
  .admin-bar .nxt-header_fixed {
    margin-top: 0;
  }
  .admin-bar .nxt-header_fixed .nxt-header__row {
    top: 0;
  }
}

.mob-nav-is-opened {
  position: fixed;
  left: 0;
  right: 0;
}

/*menu*/
.nxt-menu {
  display: flex;
  list-style: none;
}

.nxt-menu__item {
  flex: 0 1 auto;
  margin-left: 2.1875em;
  display: flex;
  align-items: center;
}

.nxt-menu__item:first-child {
  margin-left: 0;
  padding-left: 0;
}

.nxt-menu__item_has-children {
  position: relative;
}

.nxt-menu__item_has-children .nxt-menu__arr {
  display: inline-block;
}

@media (min-width: 1001px) {
  .nxt-menu__item_has-children:hover .nxt-menu__sub-menu {
    visibility: visible;
    opacity: 1;
  }
}

.nxt-menu__item_current .nxt-menu__a {
  color: var(--menu-current);
}

.nxt-menu__item .nxt-menu-icon {
  order: -1;
  margin-right: 1.25em;
}

.nxt-menu__a {
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.nxt-menu__a .nxt-menu-icon {
  margin: 0;
}

@media (hover: hover) {
  .nxt-menu__a {
    transition: .21s;
  }
  .nxt-menu__a:hover {
    color: var(--menu-hover);
  }
}

.nxt-menu__arr {
  display: none;
  width: 7px;
  height: 7px;
  position: relative;
  bottom: 5px;
  margin-left: 7px;
  border: none;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  transform: rotate(-45deg);
  background: none;
}

@media (max-width: 1200px) {
  .nxt-menu:not(.nxt-menu_nowrap) {
    flex-direction: column;
  }
  .nxt-menu:not(.nxt-menu_nowrap) .nxt-menu__item {
    margin: 0;
    border-bottom: 1px solid var(--border-color);
  }
  .nxt-menu:not(.nxt-menu_nowrap) .nxt-menu__item_has-children .nxt-menu__a {
    margin-left: 21px;
  }
  .nxt-menu:not(.nxt-menu_nowrap) .nxt-menu__item_current {
    border-bottom-color: var(--menu-current);
  }
  .nxt-header__nav-right .nxt-menu:not(.nxt-menu_nowrap) .nxt-menu__item {
    justify-content: center;
    border: none;
  }
  .nxt-menu:not(.nxt-menu_nowrap) .nxt-menu__a {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 0;
    width: 100%;
    color: var(--mob-menu-color);
  }
  .nxt-header__nav-right .nxt-menu:not(.nxt-menu_nowrap) .nxt-menu__a {
    font-size: 16px;
    font-family: var(--txt-font-family);
    color: var(--txt-color);
    width: auto;
  }
  .nxt-menu_nowrap {
    justify-content: center;
  }
}

/*sub menu*/
.nxt-sub-menu {
  list-style: none;
  width: 6000%;
  padding: 24px 0 16px 3000%;
  top: 100%;
  left: -3000%;
  transition: .3s;
}

@media (min-width: 1201px) {
  .nxt-sub-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
}

.header_fixed .nxt-sub-menu {
  background: #ffffff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.11);
}

.nxt-sub-menu__item {
  float: left;
  margin-left: 25px;
}

.nxt-sub-menu__item:first-child {
  margin-left: 0;
}

.nxt-sub-menu__item_current .nxt-sub-menu__a {
  border-bottom-color: #000000;
}

.nxt-sub-menu__a {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  display: inline-block;
  transition: .21s;
}

.nxt-sub-menu__a:hover {
  color: #D91E1E;
}

@media (max-width: 1000px) {
  .nxt-sub-menu {
    width: auto;
    left: 0;
    box-shadow: none !important;
    position: relative;
    height: 0;
    overflow: hidden;
    padding: 0;
  }
  .nxt-sub-menu__item {
    float: none;
    margin: 0;
    padding: 9px 0;
  }
}

/* main */
.main {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
}

.main, .main__full-page {
  padding-top: 100px;
}

.main__full-page {
  overflow: hidden;
}

/* first screen */
.first-screen {
  overflow: hidden;
}

.first-screen > .row_col-middle {
  height: 100%;
}

@media (min-width: 1201px) {
  .first-screen {
    height: 100vh;
  }
}

/* section */
.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* list */
.list {
  list-style: none;
}

.list li {
  padding-left: 1.875em;
  position: relative;
}

.list li:first-child {
  margin-top: 0;
  padding-top: 0;
}

.list li:before {
  position: absolute;
}

ul.list li:before {
  width: 1.25em;
  height: 1.25em;
  left: 0;
  top: 0;
  background: #D91E1E;
}

ol.list {
  counter-reset: listCounter;
}

ol.list li:before {
  counter-increment: listCounter;
  content: counter(listCounter) ".";
  top: 0;
  left: 0;
}

/* title */
.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.16667em;
}

/* article */
.article {
  line-height: 1.75;
}

.article h2 {
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.35;
  margin: 1.07143em 0 0.67857em;
}

.article h2:first-child {
  margin-top: 0;
  padding-top: 0;
}

.article h2 + p {
  margin-top: 0;
}

.article h3 {
  margin: 1.875em 0 0.4375em;
  font-weight: 700;
  line-height: 1.35;
}

.article h3 + p {
  margin-top: 0;
}

.article p {
  margin-top: 1.25em;
}

.article p:first-child {
  margin-top: 0;
  padding-top: 0;
}

.article p img {
  margin: 0;
}

.article img {
  margin-top: 1.25em;
}

.article blockquote {
  font-size: 1.25em;
  line-height: 1.4;
  border-left: 0.4em solid #aaaaaa;
  padding-left: 2em;
  margin: 2.5em 0;
}

.article ul {
  list-style: none;
  margin: 1.875em 0 1.1875em;
}

.article ul:first-child {
  margin-top: 0;
  padding-top: 0;
}

.article ul + p {
  margin-top: 0;
}

.article ul li {
  padding-left: 3.0625em;
  margin-top: 1.25em;
  position: relative;
}

.article ul li:first-child {
  margin-top: 0;
  padding-top: 0;
}

.article ul li:before {
  position: absolute;
  width: 0.8125em;
  height: 0.8125em;
  left: 0;
  top: 0.3125em;
  border: 2px solid #aaaaaa;
  border-radius: 50%;
}

@media (max-width: 750px) {
  .article {
    font-size: 14px;
  }
  .article h2 {
    font-size: 20px;
  }
}

/* tile */

/*# sourceMappingURL=style.head.css.map */
