// font family
$ff: 'Courier New', sans-serif;
$f_menu: 'Montserrat', sans-serif;
$f_title: 'Montserrat', sans-serif;

// colors
$gy: #aaaaaa;
$gn: #00ff00;
$be: #0000ff;
$yw: #ffff00;
$vt: #895df7;

$bk: #000000;
$lgy: #E5E5E5;
$rd: #D91E1E;
$txt: #393939;
$og: #CDA177;

:root{
    --nxt-content-width: 78.75rem;
    --nxt-row-margin-out: -0.9375rem;
    --nxt-column-padding: 0.9375rem;
    --nxt-columns-between-spacing: 1.875rem;
    --nxt-columns-between-spacing-60: 3.75rem;
    --nxt-txt-color: #393939;
    --nxt-txt-additional-color: #CDA177;
    --nxt-txt-font-family: 'Courier New', sans-serif;
    --nxt-menu-hover: #CDA177;
    --nxt-menu-current: #CDA177;
    --nxt-menu-icon-color: #CDA177;
    --nxt-border-color: #E5E5E5;
    --nxt-mob-menu-color: rgba(10, 9, 13, 0.5);
    --nxt-nav-font-family: 'Montserrat', sans-serif;
    --nxt-title-font-family: 'Montserrat', sans-serif;
}