/* icons */
.icon{
    @extend %icon;
    min-height: 21px;
    padding-left: 30px;
    &:before{
        width: 25px;
        height: 21px;
        top: 0;
    }
}
.nxt-menu-icon{
    @extend %icon;
    width: 1em;
    height: 1em;
    margin-right: em(20);
    vertical-align: middle;
    svg{
        fill: $og;
    }
    &::before{
        display: none;
    }
}
.img-icon{
    position: relative;
    padding: em(10) 0 em(10) em(45);
    &__ico{
        display: block;
        position: absolute;
        left: 0;
        top: em(1);
        width: em(32);
        height: em(32);
        span{
            display: block;
            @extend %fwh;
            @extend %c-img-wr;
        }
        img{
            @extend %fw-img;
            max-height: 100%;
        }
    }
}