.nxt-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 8;
    display: flex;
    height: em(130);
    align-items: center;
    transition: .5s;
    font-family: var(--nav-font-family);
    .admin-bar &{
        margin-top: 32px;
    }
    &_fixed{
        background: #FFF;
        box-shadow: 0 1px 21px rgba(0,0,0,.21);
        height: em(100);
    }
    &__logo{
        a{
            display: inline-block;
        }
        img{
            max-width: em(200);
        }
    }
    &__row{
        flex-grow: 1;
    }
    &__nav{
        display: flex;
        justify-content: flex-end;
        &_center{
            justify-content: center;
        }
    }
    @media(min-width: 1201px){
        transform: translate3d(0, 0, 0);
        &_hide{
            transform: translate3d(0, -100%, 0);
            box-shadow: none;
        }
        &__menu-tit,
        &__mob-menu-logo,
        &__mob-menu-bloginfo,
        &__mob-nav-bottom{
            display: none;
        }
    }
    @media(max-width: 1200px){
        height: 70px;
        top: 0 !important;
        &__row{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 3;
            width: 100%;
            overflow: auto;
            background: #FFF;
            transition: .21s;
            transform: translateX(-100%);
            display: flex;
            flex-direction: column;
            &.col{
                max-width: 450px;
                padding: 0 24px;
            }
            & > .row{
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: stretch;
                justify-content: space-between;
                padding: 80px 0;
                .col{
                    flex: 0 1 auto !important;
                }
            }
            .opened &{
                transform: translateX(0);
            }
        }
        &__logo{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            img{
                max-height: 40px;
                width: auto;
            }
        }
        &__nav{
            margin-bottom: 50px;
            .nxt-menu{
                flex: 1 1 100%;
            }
        }
        &__menu-tit{
            position: absolute;
            left: 24px;
            top: 30px;
            font-size: 18px;
            font-weight: 500;
        }
        &__mob-menu-logo{
            text-align: center;
            img{
                width: auto;
                max-height: 48px;
            }
        }
        &__mob-menu-bloginfo{
            text-align: center;
            line-height: (22/16);
            margin-top: 6px;
            font-family: var(--txt-font-family);
        }
        &__nav-right{
            margin-top: 4px;
        }
        &__mob-nav-bottom{
            margin-top: 32px;
            .nxt-menu__a{
                .nxt-menu-icon{
                    font-size: 24px;
                }
            }
        }
    }
    @media(max-width: 782px){
        .admin-bar &{
            margin-top: 46px;
        }
        &__row{
            .admin-bar &{
                top: 46px;
            }
        }
    }
    @media(max-width: 600px){
        &_fixed{
            .admin-bar &{
                margin-top: 0;
                .nxt-header__row{
                    top: 0;
                }
            }
        }
    }
}

.mob-nav-is-opened{
    position: fixed;
    left: 0;
    right: 0;
}