.nxt-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 8;
    display: flex;
    height: em(130);
    align-items: center;
    transition: .5s;
    .admin-bar &{
        margin-top: 32px;
    }
    &_fixed{
        background: #FFF;
        box-shadow: 0 1px 21px rgba(0,0,0,.21);
    }
    &_hide{
        box-shadow: none;
    } 
    &__logo{
        a{
            display: inline-block;
        }
        img{
            max-width: em(200);
        }
    }
    &__row{
        flex-grow: 1;
    }
    &__nav{
        display: flex;
        justify-content: flex-end;
        &_center{
            justify-content: center;
        }
    }
    @media(min-width: 1001px){
        transform: translate3d(0, 0, 0);
        &_hide{
            transform: translate3d(0, -100%, 0);
        }
    }
    @media(max-width: 1000px){
        height: 70px;
        top: 0 !important;
        &__row{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 3;
            width: 100%;
            overflow: auto;
            align-content: flex-start;
            background: #FFF;
            transition: .21s;
            transform: translateX(-100%);
            .opened &{
                transform: translateX(0);
            }
        }
        &__logo{
            width: 75px;
            position: fixed;
            top: 10px;
            left: 15px;
        }
        &__nav{
            .menu{
                flex: 1 1 100%;
            }
        }
    }
    @media(max-width: 782px){
        .admin-bar &{
            margin-top: 46px;
        }
        &__row{
            .admin-bar &{
                top: 46px;
            }
        }
    }
    @media(max-width: 600px){
        &_fixed{
            .admin-bar &{
                margin-top: 0;
                .nxt-header__row{
                    top: 0;
                }
            }
        }
    }
}


/*open menu*/
.open-menu-btn{
    display: none;
    width:24px;
    height:24px;
    position: absolute;
    left: 15px;
    top: 50%;
    z-index: 2;
    margin-top: -12px;
    background: none;
    border: none;
    -webkit-appearance: none;
    span{
        height: 2px;
        background: $bk;
        position: absolute;
        left: 0;
        width: 100%;
        border-radius: 2px;
        transition: .21s;
    }
    span:first-child{
        top: 5px;
    }
    span:last-child{
        bottom: 5px;
    }
    span:nth-child(2),
    span:nth-child(3){
        top: 11px;
    }
    &.opened{
        span:first-child,
        span:last-child{
            opacity: 0;
        }
        span:nth-child(2){
            transform: rotate(-45deg);
        }
        span:nth-child(3){
            transform: rotate(45deg);
        }
    }
    @media(max-width: 1000px){
        display: block;
    }
}

/*close menu*/
.menu-close-btn{
    @extend %icon-btn;
    display: none;
    width:24px;
    height:24px;
    position: absolute;
    right: 24px;
    top: 24px;
    &:after,
    &:before {
        @extend %ab;
        position: absolute;
        width: 100%;
        height: 2px;
        background: $rd;
        left: -15%;
        top: 50%;
        margin-top: -1px;
    }
    &:after{
        transform: rotate(-45deg);
    }
    &:before{
        transform: rotate(45deg);
    }
    @media(max-width: 1000px){
        display: block;
    }
}

.mob-nav-is-opened{
    position: fixed;
    left: 0;
    right: 0;
}